@media screen and (max-width:768px) {
  *{margin: 0; padding: 0;}
    body{
        background-image:url(@mobileBg);
        background-position: center center;
    }
header{
    h1{
      a{
        display: block;
        width: 60px;
        height:40px;
        background-position: center;
        background-repeat: no-repeat;
        }
       }
    nav{
      a.menu{
        display:block;
        }
      ul{
        display: none;
        }
    }
  }
}
