html,body{height:100%;}
body,div,ul,li,img,a{margin:0;padding:0;}
ul{list-style: none;}
body{
  background-image: url(@bgi);
  background-repeat: no-repeat;
  background-size:cover;
}
header{
  height:100px;
  background-color: rgba(251, 229, 230,0.53);
  padding:0 20px;
  box-shadow: 0 1px 7px rgba(0,0,0,0.4);
  .minilog{
    width:104px;height:52px; background-image: url(@mini); background-repeat: no-repeat;background-position: center;
    padding: 25px;display: block;float:left;
  }
  .menu{
    display: block;float: right;
    li{display: block;float:right;
      a{
        display: block; font-size:16px; color:@pinkfont;
        text-decoration:none;cursor: auto;padding:40px 18px;
        &:hover{
          background-color:rgba(250,250,250,.9);transition: 0.3s;
          padding: 42px 18px 34px;border-top: 3px solid @pinkfont;
         }
      }
    }
  }
}
section{
  position: relative;width:320px;height:320px;background-image:url(@main);
  background-repeat: no-repeat;background-size: cover;
  margin: 20% 0 0 60%;
}

footer{
  width:100%;
  height:57px; background-color:rgba(31, 31, 31,0.5);
  position:fixed;bottom:0;
  .jyplog{
   background-image: url(@jyplog);position:relative;
   width: 115px;height:45px; top:5px;left:7%;float:left;
  }
  .social{
    float: right;width: 180px; height:30px;
    position: relative;top:15px;right:3%;
    li{
      display: block;float:left;background-color: white;margin-right: 5px;
      border-radius: 5px;width:30px;height:30px; vertical-align: middle;
      img{vertical-align: middle;}
    }
  }
}
