<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/WeekPayProcessing/src/WeekPayProcessing/PayMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="WeekPayProcessing.PayMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="WeekPayProcessing"/>
</launchConfiguration>
